<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :regizor %><br />
    <%= f.text_field :regizor %>
  </div>
  <div class="field">
    <%= f.label :titluEn %><br />
    <%= f.text_field :titluEn %>
  </div>
  <div class="field">
    <%= f.label :titluRo %><br />
    <%= f.text_field :titluRo %>
  </div>
  <div class="field">
    <%= f.label :gen %><br />
    <%= f.text_field :gen %>
  </div>
  <div class="field">
    <%= f.label :actori %><br />
    <%= f.text_field :actori %>
  </div>
  <div class="field">
    <%= f.label :nota %><br />
    <%= f.text_field :nota %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
